/* body {
  overflow: hidden;
} */

/* main colors: #9bc0d0 #5694b0 #3b697e*/

html {
  overflow-x: hidden;
}

.head-links {
  grid-area: head;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10vh;
  padding-bottom: 50px;
  background-color: #9bc0d0;
  padding-top: 50px;
  position: relative;
}

.link {
  margin-right: 2vw;
  background-color: #3b697e;
  border-radius: 5px;
  padding: 1%;
  text-decoration: none !important;

}

.foot-bar {
  grid-area: foot;
  background-color: #3b697e;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: black;
  width: 100vw;
}

.active {
  background-color: #5694b0;
}

.bold {
  font-weight:bold;
}

.big {
  font-size: 20px;
}

.first {
  padding-top: 5vh;
}

#stable-head {
  position: absolute;
  bottom: -4vh;
  left: 5vw;
  height: 8vh;
  width: 30vw;
  background-color: #3b697e;
  border: 5px dotted black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 950px) {
  #stable-head {
    width: 90vw !important;
  }
}

/* .main-container {
  height: auto;
} */